
$light-gray: #f7f7f7;
$gray: #b3b3b3;
$sandalwood: #535050;
$obsidian: #000;
// $papaya: #f15a24;
$tangerine: #f7931e;
$kumquat: #fbb03b;
$taupe: #e8a273;
$blush: #f7c3b4;
$sand: mix($kumquat, #fff, 5%);
// ------------------------------------
$onyx: #3D6478;
$pine: #406B34;
$cedarpine: #698061;
$ivy : #7D9E3D;
$sundapples: #CAD917;
$winterpine: #65BD63;
$papaya: #FAA56F;
$persimmon: #F6743D;
$foxglove: #B27FE7;
// ------------------------------------
$orange: #fd6c3e;
$yellow: #f6ea00;
$green: #94d142;
$teal: #1baaa5;
$dark-teal: #0f6160;
$darkest-teal: #0c4c49;
$navy-blue: #1442a2;
$light-gray: #f2f2f0;
$gray: #d1d3d4;
$dark-gray: #4d4d4d;
$another-teal: #216e82;
$darkest-dark-teal: #304442;
// ------------------------------------

$discopurple: #662D91;
$discoindigo: #2E3192;

$color-palette: (
  masthead: $discoindigo,
  header: $discoindigo,
  body: $discopurple,
  words: $discopurple,
  punch: $persimmon,
  primary: $persimmon,
  gray: $gray,
);

$gradients: (
  'blueberry': linear-gradient(60deg, $discopurple 0%, $discoindigo 100%),
  'pear': linear-gradient(135deg, rgba($yellow, .58) 0%, rgba($orange, .58) 80%),
  'pearReversed': linear-gradient(45deg, rgba($yellow, .58), rgba($orange, .58) 80%),
  'mint': linear-gradient(135deg, rgba($teal, 1), rgba($dark-teal, 1) 100%),
  'melon': linear-gradient(135deg, rgba($green, 1), rgba($teal, 1) 100%),
  'cantaloup': linear-gradient(135deg, rgba($yellow, .58), rgba($green, .58) 100%),
  'cantaloupReversed': linear-gradient(-135deg, rgba($green, .58), rgba($yellow, .58) 100%),
  'unripeBlueberry': linear-gradient(45deg, rgba($teal, .58), rgba($green, .58) 100%),
  'kumquat': linear-gradient(135deg, rgba($yellow, .58), rgba(#fbc517, .58) 100%),
  'icecube': linear-gradient(135deg, #9ddad8 20%, #c7d2e9 100%),
);

@function get-color($key) {
  $warning: "Color #{$key} does not exist in the palette.";
  @return -map-get($color-palette, $key, $warning);
  // @if ( map-has-key($color-palette, $key) ) {
  //   @return map-get($color-palette, $key);
  // }
  // @else {
  //   @warn "Color #{$key} does not exist in the palette.";
  // }
  // @return '';
}

@function get-gradient($key) {
  $warning: "Color #{$key} does not exist in the gradient palette.";
  @return -map-get($gradients, $key, $warning);
}