// typography base styles
// half a reset, half as readjusting

$mononoki: 'mononoki', sans-serif;
$akzidenz-grotesk: 'Akzidenz Grotesk', Helvetica, Arial, sans-serif;
$body-font-family: $akzidenz-grotesk;
$meta-font-family: $mononoki;

$modular-scale-ratio: 1.125; 
$modular-scale-base: 1rem;
$base-font-size: 16px;

$header-type-scale: (
  h1: pow($modular-scale-ratio, 6) * $modular-scale-base,
  h2: pow($modular-scale-ratio, 5) * $modular-scale-base,
  h3: pow($modular-scale-ratio, 4) * $modular-scale-base,
  h4: pow($modular-scale-ratio, 3) * $modular-scale-base,
  h5: pow($modular-scale-ratio, 2) * $modular-scale-base,
  h6: pow($modular-scale-ratio, 1) * $modular-scale-base,
);

$header-type-scale-names: map-keys($header-type-scale);

$type-scale: (
  p:     pow($modular-scale-ratio, 0) * $modular-scale-base,
  // small: pow($modular-scale-ratio, -1) * $modular-scale-base,
  small: 80%,
  tiny: pow($modular-scale-ratio, -2) * $modular-scale-base,
);

$type-scale-names: map-keys($type-scale);

@function get-font-size($key) {
  $warning: "There is no type scale #{$key}.";
  @if map-has-key($header-type-scale, $key) {
    @return -map-get($header-type-scale, $key, $warning);
  }
  @else {
    @return -map-get($type-scale, $key, $warning);
  }
}

body {
  font-size: 100%;
  font-family: $body-font-family;
  font-weight: normal;
  color: get-color('masthead');
}

// HEADER TYPOGRAPHY
// outputs each typographic header's font-size
@each $type in $header-type-scale-names {
  $size: map-get($header-type-scale, $type);

  #{$type} {
    font-size: $size;
    // font-weight: normal;
    line-height: 1.2;
    margin: 0 0 rhythm(2) 0;
    max-width: 32em; // measure

    @if ($type == 'h1') {
      letter-spacing: 0.15em;
      color: -get-color(masthead);
    } else {
      color: -get-color(header);
    }

    @if ($type == 'small') {
      opacity: .8;
    }
  }
}

// NORMAL TYPOGRAPHY
// outputs each typographic element's font-size
@each $type in $type-scale-names {
  $size: map-get($type-scale, $type);

  #{$type} {
    font-size: $size;
    line-height: adjust-leading($size);
    margin: 0;
    max-width: 32em; // measure
  }
}


/////////////// Typescale
.small { 
  font-size: .8%; 
  opacity: .8; 
}

/////////////// Other
.hide {
  // height: 0;
  display: none;
}