$form-border: 1px solid rgba($discopurple, .30);
$form-bg: rgba($discopurple, .08);

label {
  display: block;
}

input,
select{
  // sets custom focus glow on form fields
  &:focus {
    box-shadow: 0 0 5px $discopurple;
    outline: none;
  }
  &:disabled {
    border-color: $form-bg;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 rhythm(1) 0;
}

select {
  border: $form-border;
  border-radius: rem-calc(3);
  background-color: $form-bg;
  padding: .1rem .2rem;
  // min-width: rem-calc(150);
}


// -----------------------------------------------------------
.legend {
  // width: 70%;
  display: flex;
  // justify-content: space-between;
  font-family: $meta-font-family;
  font-size: get-font-size('small');
  letter-spacing: -.025rem;
  padding: get-global-spacing('top') get-global-spacing('horiz');

  >:not(:first-child) {
    margin-left: 4rem;
  }
}

  .cell {
    pointer-events: bounding-box;
  }

  .legend-display {
    // padding: 1rem;
    font-family: "mononoki", sans-serif;
    fill: #662D91;
    font-size: 0.75rem;
    letter-spacing: -0.05em;
  }

  .select-axis {
    // display: flex;
  }

    .select-axis__graph {
      position: relative;
      width: rem-calc(72);
      height: rem-calc(48);
      border-left: $form-border;
      border-bottom: $form-border;
      margin: 1rem 2rem .5rem 1.5rem;
      color: rgba($discopurple, .47);

      &-x { 
        position: absolute; 
        bottom: -.3rem; 
        right: -.7rem; }
      &-y { position: absolute; 
        top: -1.1rem; 
        left: -.3rem; }
    }

    .select-axis__x {
      font-family: $meta-font-family;
      // align-self: flex-end;
      margin-top: -1.55rem;
      margin-left: 7rem;
      font-size: .9rem;
    }

  // .select-other {
    // align-self: flex-end;
  // }

// -----------------------------------------------------------

.sensitivity-button {
  padding: .1rem 0;
  margin: .3rem 0;
  position: relative;
  &:hover {
    cursor: pointer;
  }  

  // input { display: none; }

  &__label {
    position: relative;
    font-family: $meta-font-family;
    font-size: .8rem;
    font-weight: bold;
    padding: .25rem;
    z-index: 2;
    text-shadow: 0 0 2px #FFF;
  }


  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    // background-color: rgba($form-bg, .03);
  }

  &__hbar {
    position: absolute;
    // left: 0;
    top: 0%;
    background-color: $form-bg;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
  }

  input:checked ~ &__bg {
    background-color: rgba($form-bg, .05);
  }
  input:checked ~ &__hbar {
    background-color: rgba($discoindigo, .15);
  }
}