// .canvas {
//   position: relative;
// }

.hide { display: none; }
.axis {
  text {
    font-family: $mononoki;
    fill: $discopurple;
    letter-spacing: -.035em;
  }

  .domain {
    // the axis path
    stroke-dasharray: 1px 3px;
    stroke-opacity: .8;
    stroke: $discopurple;
  }

  // moves axis line to overlap ticks
  &.xaxis .domain { transform: translateY(3px); }
  &.yaxis .domain { transform: translateX(-4px); }

  .tick {
    // text {
    //   fill: $discopurple;
    // }

    line {
      stroke: $discopurple;
      opacity: .8;
    }
  }
}

  .axis__label {
    font-weight: bold;
    font-size: get-font-size('small');

    &-unit {
      font-size: get-font-size('tiny');
      fill: $discopurple;
      opacity: .8;
    }
  }

///////////////////////////////////////
.tooltip {
  
}

///////////////////////////////////////
@import "../../node_modules/foundation-sites/scss/global";
@import "../../node_modules/foundation-sites/scss/components/slider";
// @import "../../node_modules/foundation-sites/scss/foundation.scss";

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.3rem;
$slider-background: mix($gray, #fff, 50%);
$slider-fill-background: $discoindigo;
$slider-handle-height: 1rem;
$slider-handle-width: 1rem;
$slider-handle-background: $discoindigo;
$slider-opacity-disabled: 0.25;
$slider-radius: 50%;

.slider {
  @include slider-container;
  // margin-bottom: 1rem;
}

.slider-fill {
  @include slider-fill;
}

.slider-handle {
  @include slider-handle;
  border: 1px white solid;
}