// .canvas {
//   position: relative;
// }

.hide { display: none; }
.axis {
  text {
    font-family: $mononoki;
    fill: $discopurple;
    letter-spacing: -.035em;
  }

  .domain {
    // the axis path
    stroke-dasharray: 1px 3px;
    stroke-opacity: .8;
    stroke: $discopurple;
  }

  // moves axis line to overlap ticks
  &.xaxis .domain { transform: translateY(3px); }
  &.yaxis .domain { transform: translateX(-4px); }

  .tick {
    // text {
    //   fill: $discopurple;
    // }

    line {
      stroke: $discopurple;
      opacity: .8;
    }
  }
}

  .axis__label {
    font-weight: bold;
    font-size: get-font-size('small');

    &-unit {
      font-size: get-font-size('tiny');
      fill: $discopurple;
      opacity: .8;
    }
  }


///////////////////////////////////////
@import "../../node_modules/foundation-sites/scss/global";
@import "../../node_modules/foundation-sites/scss/components/slider";
// @import "../../node_modules/foundation-sites/scss/foundation.scss";

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.3rem;
$slider-background: mix($gray, #fff, 50%);
$slider-fill-background: $discoindigo;
$slider-handle-height: 1rem;
$slider-handle-width: 1rem;
$slider-handle-background: $discoindigo;
$slider-opacity-disabled: 0.25;
$slider-radius: 50%;

.slider {
  @include slider-container;
  margin-bottom: .25rem;

  &-input {
    display: inline-block;
    width: 48%;
    margin-top: 1rem;

    &:last-of-type {
      text-align: left;
    }
  }
}

.slider-fill {
  @include slider-fill;
}

.slider-handle {
  @include slider-handle;
  border: 1px white solid;
}

/////////////////////////////////////////////// hbar
.hBarGraph_bar {
  flex: 1 0 auto;
  border-radius: 0 5px 5px 0;
  position: relative;

  // &.isTooltipActive {
  //   background-color: $light-gray;
  // }
}
  .hBar {
    // padding: .4rem 0;
    // margin-bottom: .5rem;
    height: 1rem;
    min-width: .2rem;
    // transition: $graphTransition;
    position: relative;
    border-radius: 0 3px 3px 0;
    background: map-get($gradients, 'icecube');

    &.green { background: map-get($gradients, 'cantaloup'); }
    &.red { background: map-get($gradients, 'pear'); }
    // &.blue { background: map-get($gradients, 'icecube'); }

    .stats_rawNum {
      position: absolute;
      left: .75rem;
      top: .4rem;
      text-shadow: 0 0 3px #000;
    }
    .stats_percentage {
      position: absolute;
      text-shadow: 0 0 3px #000;

      &:not(.full),
      &:not(.tooSmall) { right: -2rem; }
      &.full { right: .75rem; }
      &.tooSmall { left: 2.5rem; }
    }

    &.isAnimating {
      width: 0 !important;
      // transition: $graphTransition;
    }
  }

/////////////////////////////////////////////// sensitivity bar
.sensitivity-histogram {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  // bottom: 2.8rem;
  top: -8.4rem;
  height: 13rem;
  margin-bottom: .4rem;
  z-index: 1;
}
.sensitivity-bar {
  flex: 0 1 10%;
  margin: 0 .05rem;
  background: get-gradient('icecube');
  min-height: 0rem;
}