.masthead {
  border-radius: 0 0 5px 5px;
  background-color: white;
  z-index: 2;
  margin: 0 0 1.5rem -3.5rem;
  padding: 2rem 1.5rem 1rem;
}
.masthead__title {
  font-family: $mononoki;
  font-weight: bold;
  font-size: get-font-size('p');
  text-transform: lowercase;
  margin: 0;
}