::-webkit-scrollbar {
  display: none;
}

.sidebar {
  width: 20%;
  min-width: 12rem;
  max-width: 13rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  // box-shadow: 0 0 8px 2px;
  z-index: 2;
  background: white;

  overflow-y: scroll;
  padding: 4.5rem 1rem 6rem;
}