@import "../../node_modules/foundation-sites/scss/util/mixins";

.tooltip {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid;
  padding: .75rem;
  font-family: $meta-font-family;
  z-index: 2;

  margin-left: -3rem;
  margin-top: -4.5rem;

  &__name {
    font-weight: bold;
    font-size: 90%;
    margin-bottom: .25rem;
  }
  &__image {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    display: block;
    object-fit: cover;
  }
  &__price {
    display: block;
    font-size: 80%;
  }
  &__fav-button {
    display: inline-block;
    font-size: 80%;
    padding: .125rem .25rem;
    border: 1px solid;
    border-radius: 7px;
    transition: all 200ms ease-in-out;
    margin-top: .5rem;

    &.isActive {
      background-color: $discoindigo;
      color: white;
    }

    &:hover {
      background-color: $discoindigo;
      color: white;
      transition: all 200ms ease-in-out;
    }
  }

  &__triangle {
    &:before{
      @include css-triangle($triangle-size: 1.1rem, $triangle-color: $discoindigo, $triangle-direction: down);
      bottom: -1.1rem;
      position: absolute;
      transform: translate(60%, 0);
    }
    &:after {
      @include css-triangle($triangle-size: 1rem, $triangle-color: #fff, $triangle-direction: down);
      bottom: -1rem;
      position: absolute;
      transform: translate(70%, 0);
    }
  }


}

  .tooltip--small {
    // margin-top: -2rem;
    // margin-left: -6rem;
    padding: .25rem .5rem;

    .tooltip__name { font-weight: normal; }
    .tooltip__image { display: none; }
    .tooltip__price { display: none; }
    .tooltip__fav-button { display: none; }
  }

  // .tooltip--small {
  //   margin-top: -2rem;
  //   margin-left: -3rem;
  //   padding: .25rem .5rem;

  //   .tooltip__name { font-weight: normal; }
  //   .tooltip__price { display: none; }
  //   .tooltip__fav-button { display: none; }
  // }

 .info-tooltip-mark {
    display: inline-block;
    border: thin solid $discoindigo;
    text-align: center;
    font-size: 80%;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 2rem;
    padding: .1rem;
    margin-left: 0.25rem;

    &:hover {
      background: rgba(102, 45, 145, 0.05);
    }
 }

 .info-tooltip-definition {
    display: block;
    position: absolute;
    margin-left: -3rem;
    margin-top: 1.5rem;
    background-color: white;
    z-index: 999;
 }